.btn.btn-primary {
  margin-right: 5px;
} 
form {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
/* button.btn.btn-danger {
  width: 100%;
}

.btn.btn-primary {
  width: 100%;
} */